services:
  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: app_gateway
    ports:
      - "8000:8000"
    env_file:
      - ./gateway/.env
    depends_on:
      - auth
    command: bun run src/index.ts
    volumes:
      - ./gateway/src:/app/src

  frontend:
    build: ./frontend
    container_name: app_front
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - gateway
    command: bun run dev
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public

  auth:
    build:
      context: .
      dockerfile: backend/auth/Dockerfile
    container_name: app_auth
    ports:
      - "4000:4000"
    env_file:
      - ./backend/auth/.env
    command: bun run src/index.ts
    volumes:
      - ./backend/auth/src:/app/src
      - sqlite-data:/app/data

volumes:
  sqlite-data:
